//COLOR VARIABLES
$black: #000;
$dove: #696969;
$due-background: #e7e1e1ab;
$gallery: #ebebeb;
$nav-background: #1f1f1ff2;
$quill: #e4e4e3;
$shaft: #333333;
$shamrock-transparent: #2cbbb3c9;
$shamrock: #2CBBB3;
$silver: #bfbfbf;
$tundora: #484848;
$white: #fff;
$yellow-orange-transparent: #ffa200c2;
$yellow-orange: #fdb332;
